.line {
	stroke-width: 3;
	stroke-linejoin: round;
	stroke-linecap: round;
}

.line-white,
.gridline-white line {
	stroke: white;
}
.line-light,
.gridline-light line {
	stroke: lightgray;
}
.line-secondary,
.gridline-secondary line {
	stroke: gray;
}
.line-primary,
.gridline-primary line {
	stroke: blue;
}

.axis-label text {
	fill: gray;
}

.axis-title {
	fill: blue;
	font-size: larger;
}

.primary {
	fill: blue;
}
.no-fill {
	fill: none;
}

.line-group-0 {
	stroke: blue;
}
.line-group-1 {
	stroke: red;
}
.line-group-2 {
	stroke: green;
}
.line-group-3 {
	stroke: orange;
}
.line-group-4 {
	stroke: cyan;
}

.fill-group-0 {
	fill: blue;
}
.fill-group-1 {
	fill: red;
}
.fill-group-2 {
	fill: green;
}
.fill-group-3 {
	fill: orange;
}
.fill-group-4 {
	fill: cyan;
}
